html{
    background-image: linear-gradient(45deg, orange, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-width: 2px;
    background-color: white;
}

table{
    width: 500px;
}

.input_field{
    width: 60%;
}
.input_select{
    width: 65%;
}
.input{    
    margin-left: 20%;
}
.table_header{
    background-color: grey;
    color: white;
}

